*{
    margin: 0;
    padding: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
    max-width: 210rem;
}
.sec1{
    background-color: #636C79;
    padding: 50px 100px;
}

.sec1 nav{
    display: flex;
    gap: 100px;
    margin-bottom: 100px;
}

.sec1 nav li{
    list-style: none;
    float: left;
    margin-left: 100px;
    font-size: 25px;
    color: white;
    margin-top: -5px;
}
.sec1 nav ul{
    margin-left: 500px;
}
.sec1 nav button{
    width: 250px;
    height: 48px;
    background-color: #636C79;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: -15px;
    margin-left: 100px;
}
.sec1div{
    display: flex;
    margin: 30px 300px;
    gap: 200px;
}
.sec1div img{
    width: 700px;
    height: 750px;
    justify-content: center;
    
}
.sec1div h1{
    font-size: 110px;
    color: white;
}
.sec1div p{
    margin-top: 30px;
    color: white;
    line-height: 45px;
    font-size: 30px;
    margin-bottom: 50px;
}
.sec1divinput input{
    width: 700px;
    height: 80px;
    font-size: 30px;
    padding-left: 45px;
}
.sec1divinput span{
    display: flex;
    margin-top: -64px;
    font-size: 40px;
    padding-left: 5px;
}
.sec1divinput button{
    margin-top: 3.5px;
    margin-left: 443px;
    height: 67px;
    background-color: #65c98b;
    width: 250px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border: none;
}
.btnsec1{
      display: flex;
      margin-top: -53px;

}

.sec2div{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
}
.sec2num{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 70px;
    margin-bottom: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

.sec2img img{
    display: flex;
    justify-content: center;
    margin: 100px 200px;
    width: 2200px;
    height: 900px;
    align-content: center;
}
.sec3div{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}
.sec3para{
    display: flex;
    gap: 300px;
    justify-content: center;
    margin-top: 100px;
}
.sec3para img{
    width: 800px;
    height: 800px;
}
.sec3para2 h2{
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.sec3para2 p{
    font-size: 40px;
    line-height: 60px;
    color: #636C79;
    margin-bottom: 70px;
}
.sec3para2 button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #65c98b;
    border: none;
}
.sec4{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    gap: 600px;
    margin-bottom: 100px;
}
.sec4 h1{
    font-size: 100px;
}
.sec4 p{
    font-size: 30px;
    line-height: 50px;
    margin-top: 40px;
    color: #636C79;
}
.sec4table{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.sec4table img{
    width: 500px;
    height: fit-content;
    
}
.sec4table h2{
    font-size: 30px;
    margin: 30px 0px;
}
.sec4table p{
     font-size: 20px;
     line-height: 30px;
     color: #636C79;
}


.sec4btn{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    
}
.sec4btn button{
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #65c98b;
    border: none;
    margin-bottom: 150px;
}
footer{
    
    padding-bottom: 100px;
    background-color: #0b0f14;
    
}
.footlogo{
    display: flex;
    justify-content: center;
    gap: 1400px;
    padding: 100px;
    align-items: center;
    
}
.footimg img{
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.062);
    padding: 30px;
    border-radius: 40px;
}
.footmar{
    border-bottom: 2px solid rgba(255, 255, 255, 0.151);
    margin: 0px 140px;
    margin-bottom: 100px;
}
.footlist{
    display: flex;
    justify-content: center;
    gap: 300px;
    
}
.footlist li{
    color: #636C79;
    list-style: none;
    line-height: 50px;
    font-size: 20px;
   
}
.footlist h2{
    color: white;
}


 @media(max-width: 1000px){


    .sec1 nav{
        display: flex;
        gap: 10px !important;
        margin-bottom: 100px;
        margin-left: -170px;
        margin-top: -30px;
    }
    .sec1{
        width: 700px;
    }
    .secx{
        width: 700px;
    }
    
    .sec1 nav li{
        list-style: none;
        float: left;
        font-weight: 900;
        margin-left: 10px;
        font-size: 10px;
        color: white;
        margin-top: 10px;
    }
    .sec1 nav ul{
        margin-left: 10px;
    }
    .sec1 nav button{
        width: 100px;
        height: 24px;
        background-color: #636C79;
        border: 1px solid white;
        color: white;
        font-size: 15px;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 10px;
    }
    .sec1 img{
        width: 100px;
        margin-left: 90px;
    }
    .sec1div{
        display: block;
        width: 700px;
        margin: -80px 0px;
        margin-left: -150px;
    }
    .sec1div img{
        width: 500px;
        border-radius: 10px;
        height: 500px;
    }
    .sec1div h1{
        font-size: 50px;
        margin: 20px 0px;
        text-align: center;
    }
   
    .sec1div p{
        font-size: 20px;
        text-align: center;

    }

    .sec1divinput{
        background-color: #636C79;
        width: 0px;
        margin: 10px 30px;
        margin-left: 100px;
        padding-bottom: 40px;
    }

    .sec1divinput input{
        width: 500px;
        height: 40px;
        font-size: 20px;
        padding-left: 45px;
    }
    .sec1divinput span{
        display: flex;
        margin-top: -35px;
        font-size: 30px;
        padding-left: 5px;
    }
    .sec1divinput button{
        margin-top: 23px;
        margin-left: 370px !important;
        margin-right: -10px;
        height: 30px;
        background-color: #65c98b;
        width: 350px !important;
        padding-right: 50px;
        padding-left: 50px;
        color: white;
        font-size: 10px;
        font-weight: 900;
        border: none;
    }
    .sec2num{
        display: block;
        margin-left: -90px;
    }
    .sec2num p{
        margin-bottom: 40px;
    }
    .sec2div{
        margin-left: 300px;
    }



    .sec2div h1{
        font-size: 30px;
        margin-left: -380px;
    }

    .sec2img img{
       width: 500px;
       margin-left: 50px;
       height: 500px;
       margin-top: -80px;
    }
    

    .sec3div{
        margin-left: 150px;
        text-align: center;
    }
    
    .sec3div h1{
        font-size: 30px;
        margin-left: -150px;
        margin-top: -150px;
    }

    .sec3para{
        display: block;
        text-align: center;
        width: 700px;
        margin-left: -50px;
        margin-top: -120px;
        padding: 20px;
    }

    .sec3para h2{
        font-size: 30px !important;
    }

    .sec3para p{
        font-size: 20px !important;
        line-height: 30px;
    }
    .sec3para img{
        width: 500px;
        height: 500px;
        margin-bottom: 30px;
    }

    .sec3para button{
        margin-bottom: 30px;
    }

    .res2img{
        margin-top: 30px;
        padding-top: 100px !important;
        margin-bottom: 0px;
    }
    .pkr{
        margin-top: -100px
    }

    .sec4{
        width: 700px;
        margin: 10px 50px;
        display: block;
        align-items: center;
        text-align: center;
        margin: 10px 0px;
        margin-left: -55px
    }
    .sec4 h1{
        font-size: 50px;
     }
     .sec4 p{
        font-size: 20px !important;
        text-align: center;
        line-height: 30px;
        margin-bottom: 50px;
     }
    
     .sec4table{
        display: block;
        margin-left: -55px;
        text-align: center;
        width: 700px;
     }
     .sec4btn{
        margin-left: 30px;
     }

     .footlogo{
        display: block;
        margin: 0px 10px !important;
        width: 700px;
     }

     .resf img{
        width: 70px;
        margin-top: -250px;
        margin-bottom: 50px;
        margin-left: -100px;
     }

     .footimg{
        margin-left: -50px;
        margin-right: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 20px;
     }

     .footlist{
        display: block;
     }
     
     .footmar {
        width: 700px !important;
        margin-left: 5px;
     }
     footer{
        width: 598px;
        text-align: center;
     }











 }







 @media(max-width: 600px){

    *{
        max-width: 400px;
        overflow-x: hidden;
    }


    .sec1 nav{
        display: block;
        gap: 10px !important;
        margin-bottom: 100px;
        margin-left: -20px;
        margin-top: -30px;
    }
    .sec1{
        width: 400px;
    }
    .secx{
        width: 300px;
    }
    
    .sec1 nav li{
        list-style: none;
        float: left;
        font-weight: 900;
        margin-left: 10px;
        font-size: 10px;
        color: white;
        margin-top: 10px;
    }
    .navbtnx{
        margin-left: 40px;
        margin-top: 10px;
    }
    .sec1 nav ul{
        margin-left: -50px;
    }
    .sec1 nav button{
        width: 100px;
        height: 24px;
        background-color: #636C79;
        border: 1px solid white;
        color: white;
        font-size: 15px;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 10px;
    }
    .sec1 img{
        width: 100px;
        margin-left: 50px;
    }
    .sec1div{
        display: block;
        width: 400px;
        margin: -60px 0px;
        margin-left: -150px;
    }
    .sec1div img{
        width: 300px;
        border-radius: 10px;
        height: 300px;
        margin-left: 75px;
        margin-right: 0px;
    }
    .sec1div h1{
        font-size: 20px;
        margin: 20px 0px;
        text-align: center;
        margin-left: 70px;
    }
   
    .sec1div p{
        width: 300px;
        font-size: 10px;
        font-weight: 900;
        line-height: 15px;
        text-align: center;
        margin-left: 80px;
        margin-top: -10px;

    }

    .sec1divinput{
        display: none;
    }
    
    .sec2num{
        display: block;
        margin-left: 50px;
        margin-top: -150px;
    }
    .sec2num p{
        margin-bottom: 40px;
    }
    .sec2div{
        margin-left: 300px;
    }



    .sec2div h1{
        font-size: 30px;
        margin-left: -380px;
    }
    .sec2img{
        margin-top: -100px;
    }

    .sec2img img{
       width: 400px;
       margin-left: 50px;
       height: 400px;
       margin-top: 0px;
    }
    

    .sec3div{
       display: none;
    }
    
   

    .sec3para{
        display: block;
        text-align: center;
        width: 700px;
        margin-left: -20px;
        margin-top: -120px;
        padding: 20px;
    }

    .sec3para h2{
        font-size: 30px !important;
    }

    .sec3para p{
        font-size: 20px !important;
        line-height: 30px;
    }
    .sec3para img{
        width: 500px;
        height: 500px;
        margin-bottom: 30px;
    }

    .sec3para button{
        margin-bottom: 30px;
    }

    .res2img{
        margin-top: 30px;
        padding-top: 100px !important;
        margin-bottom: 0px;
    }
    .pkr{
        margin-top: -100px
    }

    .sec4{
        width: 700px;
        margin: 10px 0px;
        display: block;
        align-items: center;
        text-align: center;
        margin: 10px 0px;
        margin-left: -15px
    }
    .sec4 h1{
        font-size: 40px;
     }
     .sec4 p{
        font-size: 15px !important;
        text-align: center;
        line-height: 30px;
        margin-bottom: 50px;
     }
    
     .sec4table{
        display: block;
        margin-left: -5px;
        text-align: center;
        width: 400px;
     }
     .sec4table h2{
        margin-left: -20px;
     }
     .sec4table p{
        margin-left: -20px;
        margin-bottom: 10px;
     }


     .sec4btn{
        margin-left: 0px;
     }

     .footlogo{
        display: block;
        margin: 0px 10px !important;
        width: 700px;
     }

     .resf img{
        width: 70px;
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: -50px;
     }

     .footimg{
       display: none;
     }

     .footlist{
        display: block;
        margin-left: -20px;
        margin-top: -90px;
        margin-bottom: 5px;
     }
     
     .footmar {
        width: 700px !important;
        margin-left: 5px;
     }
     footer{
        width: 598px;
        text-align: center;
     }


    }









































 



































